<div id="profilePic">
    <img src="assets/images/profile.jpg" class="img-thumbnail" width="304" height="236"  left= 25%;>        
</div>
<div class="jumbotron">
        <h1 class="display-4">Danny (Hyeong Ook), Yu</h1>
        <p class="lead">dedicated person</p>
        <hr class="my-4">
        <p>I am a 4th year computer science student at University of Toronto.</p>
        <hr class="my-4">
        <div class=iconBox>
            <i class="fa fa fa-facebook" (click)="goToLink('facebook')"> </i>
            <i class="fa fa fa-github" (click)="goToLink('github')"> </i>
            <i class="fa fa fa-linkedin" (click)="goToLink('linkedin')"> </i>
        </div>
</div>

